/* Header Principal - Ocupa 100% da largura */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px; /* Limita o tamanho do conteúdo interno */
  padding: 15px 40px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  backdrop-filter: blur(8px);
  z-index: 2;
  margin-right: 17rem;
}

/* Container para logo + menu (centralizado mas sem ir para a esquerda extrema) */
.logoMenuContainer {
  display: flex;
  align-items: center;
  gap: 50px; /* Espaço entre o logo e o menu */
  margin-left: 10%; /* Mantém o bloco mais para o meio, sem colar na borda */
}

/* Estilização do Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

/* Letras do Logo */
.letter {
  display: inline-block;
  transition: transform 0.9s;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 1; /* Ajuste para alinhar verticalmente */
  letter-spacing: -1px;
}

.letter:hover {
  transform: rotateY(180deg);
}

/* Menu ao lado do Logo */
.navMenu {
  display: flex;
  gap: 30px;
}

.navMenu a {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 13px;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
}

.navMenu a:hover {
  color: white;
}

/* Botão Entrar no canto direito */
.entrar {
  font-size: 13px;
  font-weight: 300;
  color: #b0b0b0;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  margin-right: 5%;
}

.entrar:hover {
  color: white;
}

  
  @media (max-width: 768px) {
  }
  
  @media (max-width: 480px) {
    
  }

  @media (max-width: 1600px) {
    .header {
      margin-right: 0rem;
    }
  }
  